<h1>About the Alpha Blog</h1></h1>

<%= image_tag('background.jpg', size: '1000x500') %>

<p>This is the first site that I am building using Ruby on Rails.</p>



<%= link_to 'Return to the homepage', root_path %>