<h1>About the Alpha Blog</h1></h1>

<img src="background.jpg" width="1000" height="500">

<p>This is the first site that I am building using Ruby on Rails.</p>



<%= link_to 'Return to the homepage', root_path %>