<h1>Alpha Blog Home</h1>

<%= image_tag('background.jpg', size: '1000x500') %>

<h2>Posts:</h2>

<h3>My first blog post</h3>
<p>This is my first blog post.</p>


<%= link_to 'About the blog', about_path %>