<h1>Alpha Blog Home</h1>

<img src="background.jpg" width="1000" height="500">

<h2>Posts:</h2>

<h3>My first blog post</h3>
<p>This is my first blog post.</p>


<%= link_to 'About the blog', about_path %>